<div class="container sm" ononline="console.log('abc')">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li onClick="$('#myCarousel').carousel(0)" data-target="#myCarousel" class="active"></li>
      <li onClick="$('#myCarousel').carousel(1)" data-target="#myCarousel"></li>
      <li onClick="$('#myCarousel').carousel(2)" data-target="#myCarousel"></li>
      <li onClick="$('#myCarousel').carousel(3)" data-target="#myCarousel"></li>
      <li onClick="$('#myCarousel').carousel(4)" data-target="#myCarousel"></li>
      <li onClick="$('#myCarousel').carousel(5)" data-target="#myCarousel"></li>
      <li onClick="$('#myCarousel').carousel(6)" data-target="#myCarousel"></li>
    </ol>

    <div class="carousel-inner" role="listbox">

      <div class="item active" id="slide1">
        <div class="carousel-caption">
          <h4>Slider 1</h4>
          <p> Slider 1 description .. </p>
        </div>
      </div>

      <div class="item" id="slide2">
        <div class="carousel-caption">
          <h4>Slider 2</h4>
          <p> Slider 2 description .. </p>
        </div>
      </div>

      <div class="item" id="slide3">
        <div class="carousel-caption">
          <h4>Slider 3</h4>
          <p> Slider 3 description .. </p>
        </div>
      </div>

      <div class="item" id="slide4">
        <div class="carousel-caption">
          <h4>Slider 4</h4>
          <p> Slider 4 description .. </p>
        </div>
      </div>

      <div class="item" id="slide5">
        <div class="carousel-caption">
          <h4>Slider 5</h4>
          <p> Slider 5 description .. </p>
        </div>
      </div>

      <div class="item" id="slide6">
        <div class="carousel-caption">
          <h4>Slider 6</h4>
          <p> Slider 6 description .. </p>
        </div>
      </div>

      <div class="item" id="slide7">
        <div class="carousel-caption">
          <h4>Slider 7</h4>
          <p> Slider 7 description .. </p>
      </div>
      </div>

    </div>

    <a class="left carousel-control" data-slide="prev" href="#myCarousel">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" data-slide="next" href="#myCarousel">
      <span class="icon-next"></span>
    </a>

  </div>
</div>
